<!DOCTYPE html>
<html>
<br>
<br>
<br>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            margin: 16px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>



<h2><center> {{name}} Place Your Order!</center></h2>

<h3>Orders</h3>

<table style="">
    <tr>
        <th>Food Items Selected</th>
        <th>Amount</th>
        <th>Price of Each</th>

    </tr>


    <!--
    add for each element in the session post request

    -->

    {{#each allOrders}}
        <tr>
            <td> {{this.name}}</td>
            <td> {{this.amount}}</td>
            <td>{{this.price}}</td>

        </tr>
    {{/each}}

</table>

<center>
    <br>
<h2>Total: {{total}}</h2>
<center>


<center>

<style>
    .button {
        background-color: red;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>
</head>

    <!--form  3tag 3-->
    <form method="POST" action="">
        <input type="submit"  class="button" value="Place Order">
    </form>




    </div>
</center>


</center>

</center>
</body>
</html>
